<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plix</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery.js"></script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{placesKey}}&libraries=places"></script>
  <script src="/js/plix.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/nav.js"></script>

  <script src="/js/main.js">
  </script>
  <script>
    $(document).ready(function () {
      initPage("{{placesKey}}", {
        lat: '{{location.lat}}',
        lng: '{{location.lng}}'
      }, '{{location.place_id}}')
    });
  </script>
</head>

<body>

  <div class="container">
    <div id="map"></div>
    <div class="search-container">
      <input id="search" type="text" />

    </div>

    <div class="results"></div>
    <div class="plix-container"></div>
  </div>



</body>

</html>