<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plix</title>
  <link type="text/css" rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery.js"></script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{placesKey}}&libraries=places"></script>

  <script src="/js/geolocation.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/autocomplete.js"></script>
  <script src="/js/nav.js"></script>

  <script src="/js/main.js"></script>
</head>

<body>

  <div class="container">
    <div id="map"></div>
    <div class="search-container">
      <input id="search" type="text" />

    </div>

    <div class="results"></div>
    <form class="plix-form" id="new-plix" enctype="multipart/form-data" method="post" action="/plix/new">
      <input class="hidden-input" hidden="hidden" id="place-id" name="placeId" />
      <label class="upload-label" for="plix-img"></label>
      <input type="file" name="image" id="plix-img" accept="image/gif,image/jpeg,image/x-png," required />
      <textarea name="description" id="plix-description" class="plix-description" required></textarea>
      <button class="submit-plix">Share</button>
    </form>
  </div>

</body>

</html>