<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Plix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="/css/styles.css" type="text/css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
  <script src="/js/nav.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function () {
      map.setStaticSrc('{{plix.lat}}', '{{plix.lng}}', '{{key}}');
      initPage('{{key}}');
    })
  </script>
</head>

<body>

  <div class="container plix-show-container" data-plix-id="{{plix.id}}">
    <a class="show-info" href="/user/{{plix.username}}">
      <div class="user show-icon"></div>
      <p>{{plix.username}}</p>
    </a>

    <a class="plix-img-container" href="{{plix.img}}" />
    <img src="{{plix.img}}" class="plix-show-img" />
    </a>
    <a class="show-info" href="/locations/{{plix.location_id}}">
      <div class="explore show-icon"></div>
      <p>{{plix.address}}</p>
      <img class="static-map">
    </a>
    <div class="show-description-container">
      <p class="plix-description-show">{{plix.description}}</textarea>
    </div>
    <!-- <div class="comments-container">
      <h4 class="comments-head">Comments ({{commentsLength}})</h4>
      <div class="post-comment-container">
        <a class="comment-img" href="/user/profile">
          <img class="user-thumb" src="userImg" />
        </a>
        <div class="post-comment-content">
          <a href="/user/profile" class="comment-user">{{username}}</a>
          <textarea class="comment-textarea" placeholder="Comment on {{plix.username}}'s Plix"></textarea>
        </div>
      </div>
      {{#comments}}
      <div class="comment-container">
        <a class="comment-img" href="/user/{{username}}">
          <img class="user-thumb" src="{{profile_img}}" />
        </a>
        <div class="comment-content">
          <a href="/user/{{username}}" class="coment-user">{{username}}</a>
          <p class="comment-body">{{comment}}</p>
        </div>
      </div>
      {{/comments}}
    </div> -->



</body>

</html>
