<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Plix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="/css/styles.css" type="text/css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
  <script src="/js/nav.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ready(function () {
      map.setStaticSrc('{{plix.lat}}', '{{plix.lng}}', '{{key}}');
      initPage('{{key}}');
    })
  </script>
</head>

<body>

  <div class="container plix-show-container" data-plix-id="{{plix.id}}">
    <a id="username" data-name="{{plix.username}}" class="show-info" href="/user/{{plix.username}}">
      <div class="user show-icon"></div>
      <p>{{plix.username}}</p>
    </a>

    <a class="plix-img-container" href="{{plix.img}}" />
    <img src="{{plix.img}}" class="plix-show-img" />
    </a>
    <a class="show-info" href="/locations/{{plix.location_id}}">
      <div class="explore show-icon"></div>
      <p>{{plix.address}}</p>
      <img class="static-map">
    </a>
    <div class="show-description-container">
      <textarea maxlength="255" readonly class="show-description-edit">{{plix.description}}</textarea>
      <div class="edit-icons">
        <div class="edit-icon"></div>
        <div class="cancel-editing">Cancel</div>
      </div>
    </div>
    <div class="delete-plix">Delete</div>


</body>

</html>