<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plix</title>
  <link type="text/css" rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="plix-container">
    {{#plix}}
    <a href="/plix/{{name}}/{{id}}" class="plix-list-item" style="background-image:url({{thumb}})"></a>
    {{/plix}}
  </div>

  <script type="text/javascript" src="/js/jquery.js"></script>

  <script type="text/javascript" src="/js/nav.js"></script>

  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      initPage("{{placesKey}}")
    });
  </script>
</body>

</html>